{%- liquid
  assign st = section.settings
  assign enable_mobile_stickybar = st.enable_mobile_stickybar
  assign show_home = st.show_home
  assign show_offers = st.show_offers
  assign show_today_deal = st.show_today_deal
  assign show_wishlist = st.show_wishlist
  assign show_my_account = st.show_my_account
-%}
{%- if enable_mobile_stickybar -%}
  <div class="bls__mobile-stickybar fixed-bottom d-md-none">
    <div class="link-on-bottom">
      <ul class="mobile-bottom-link d-flex justify-content-between list-unstyled">
        {%- if show_home -%}
          <li>
            <a href="{{ routes.root_url }}" class="bls_tooltip">
              <span class="bls_tooltip-content">{{ 'general.breadcrumb.home' | t }}</span>
              <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8.50129 13.283V10.9648" stroke="#212529" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M7.00993 1.55299L1.65493 5.84163C1.0522 6.32072 0.665836 7.33299 0.7972 8.09027L1.82493 14.2412C2.01038 15.3384 3.06129 16.2271 4.17402 16.2271H12.8286C13.9336 16.2271 14.9922 15.3307 15.1777 14.2412L16.2054 8.09027C16.329 7.33299 15.9427 6.32072 15.3477 5.84163L9.99265 1.56072C9.16584 0.896174 7.82902 0.896174 7.00993 1.55299Z" stroke="#212529" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
              <span class="quick-menu-mb">{{ 'general.breadcrumb.home' | t }}</span>
            </a>
          </li>
        {%- endif -%}
        
        {%- if show_offers -%}
          <li>
            <a href="{{ routes.offers_url }}" class="bls_tooltip">
              <span class="bls_tooltip-content">{{ 'general.mobile_sticky.offers' | t }}</span>
              <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 1L16 16" stroke="#212529" stroke-width="2" />
                <path d="M1 16L16 1" stroke="#212529" stroke-width="2" />
              </svg>
              <span class="quick-menu-mb">{{ 'general.mobile_sticky.offers' | t }}</span>
            </a>
          </li>
        {%- endif -%}

        {%- if show_today_deal -%}
          <li>
            <a href="{{ routes.today_deal_url }}" class="bls_tooltip">
              <span class="bls_tooltip-content">{{ 'general.mobile_sticky.today_deal' | t }}</span>
              <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8.5 1V16" stroke="#212529" stroke-width="2" />
                <path d="M1 8.5H16" stroke="#212529" stroke-width="2" />
              </svg>
              <span class="quick-menu-mb">{{ 'general.mobile_sticky.today_deal' | t }}</span>
            </a>
          </li>
        {%- endif -%}

        {%- if show_wishlist -%}
          <li>
            <a href="{{ routes.wishlist_url }}" class="bls_tooltip">
              <span class="bls_tooltip-content">{{ 'templates.wishlist.wishlist' | t }}</span <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M11.7441 2.26562C11.9993 2.52083 12.1908 2.8125 12.3184 3.14062C12.446 3.45964 12.5098 3.78776 12.5098 4.125C12.5098 4.46224 12.446 4.79492 12.3184 5.12305C12.1908 5.44206 11.9993 5.72917 11.7441 5.98438L7 10.7285L2.25586 5.98438C2.00065 5.72917 1.80924 5.44206 1.68164 5.12305C1.55404 4.79492 1.49023 4.46224 1.49023 4.125C1.49023 3.78776 1.55404 3.45964 1.68164 3.14062C1.80924 2.8125 2.00065 2.52083 2.25586 2.26562C2.51107 2.01042 2.79818 1.81901 3.11719 1.69141C3.44531 1.5638 3.77799 1.5 4.11523 1.5C4.45247 1.5 4.7806 1.5638 5.09961 1.69141C5.41862 1.81901 5.71029 2.01042 5.97461 2.26562L6.58984 2.88086C6.69922 2.99935 6.83594 3.05859 7 3.05859C7.16406 3.05859 7.30078 2.99935 7.41016 2.88086L8.02539 2.26562C8.28971 2.01042 8.58138 1.81901 8.90039 1.69141C9.2194 1.5638 9.54753 1.5 9.88477 1.5C10.222 1.5 10.5501 1.5638 10.8691 1.69141C11.1973 1.81901 11.4889 2.01042 11.7441 2.26562Z" />
              </svg>
              <span class="quick-menu-mb">{{ 'templates.wishlist.wishlist' | t }}</span>
            </a>
          </li>
        {%- endif -%}

        {%- if show_my_account -%}
          <li>
            <a href="{{ routes.account_url }}" class="bls_tooltip">
              <span class="bls_tooltip-content">{{ 'customer.account.title' | t }}</span>
              <svg width="17" height="17" viewBox="0 0 17 17" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M16.8927 15.7682C16.0329 14.3137 14.8061 13.1078 13.3338 12.27C11.8614 11.4322 10.1946 10.9914 8.49845 10.9914C6.80225 10.9914 5.13546 11.4322 3.66314 12.27C2.19082 13.1078 0.964024 14.3137 0.104236 15.7682C-0.00102398 15.9568 -0.027822 16.179 0.0295835 16.387C0.0566587 16.493 0.106188 16.592 0.174854 16.6774C0.243521 16.7627 0.329737 16.8325 0.427728 16.8821C0.554141 16.9534 0.697158 16.9903 0.842462 16.9894C0.986554 16.9954 1.12952 16.961 6 1.25545 16.8917C1.38138 16.8218 1.48536 16.7185 1.5558 16.5933C2.26752 15.3886 3.2833 14.3898 4.50251 13.6958C5.72172 13.0018 7.10204 12.6367 8.50674 12.6367C9.91144 12.6367 11.2918 13.0018 12.511 13.6958C13.7302 14.3898 14.746 15.3886 15.4577 16.5933C15.5685 16.7806 15.7491 16.9169 15.9603 16.9725C16.1715 17.0281 16.3963 16.9986 16.5858 16.8903C16.6801 16.8403 16.7628 16.7711 16.8285 16.6872C16.8943 16.6034 16.9415 16.5067 16.9673 16.4035C16.998 16.298 17.0072 16.1874 16.9944 16.0783C16.9816 15.9692 16.947 15.8638 16.8927 15.7682Z" />
                <path d="M8.49966 10.2C9.83622 10.2002 11.1195 9.67091 12.0732 8.72594C13.027 7.78097 13.5752 6.49588 13.5997 5.14718C13.5997 3.78206 13.0623 2.47286 12.1059 1.50757C11.1495 0.542291 9.85226 0 8.49966 0C7.14705 0 5.84985 0.542291 4.89341 1.50757C3.93698 2.47286 3.39966 3.78206 3.39966 5.14718C3.42416 6.49588 3.97228 7.78097 4.92607 8.72594C5.87987 9.67091 7.1631 10.2002 8.49966 10.2ZM5.09966 5.14718C5.09966 4.2371 5.45787 3.3643 6.09549 2.72078C6.73312 2.07725 7.59792 1.71573 8.49966 1.71573C9.40139 1.71573 10.2662 2.07725 10.9038 2.72078C11.5414 3.3643 11.8997 4.2371 11.8997 5.14718C11.8997 6.05726 11.5414 6.93006 10.9038 7.57359C10.2662 8.21711 9.40139 8.57864 8.49966 8.57864C7.59792 8.57864 6.73312 8.21711 6.09549 7.57359C5.45787 6.93006 5.09966 6.05726 5.09966 5.14718Z" />
              </svg>
              <span class="quick-menu-mb">{{ 'customer.account.title' | t }}</span>
            </a>
          </li>
        {%- endif -%}
      </ul>
    </div>
  </div>
{%- endif -%}

{% schema %}
  {
    "name": "t:sections.mobile-stickybar.name",
    "class": "section",
    "settings": [
      {
        "type": "checkbox",
        "id": "enable_mobile_stickybar",
        "label": "t:sections.mobile-stickybar.settings.enable_mobile_stickybar.label",
        "default": true
      },
      {
        "type": "header",
        "content": "t:sections.mobile-stickybar.Addons"
      },
      {
        "type": "checkbox",
        "id": "show_home",
        "label": "t:sections.mobile-st ickybar.settings.show_home.label",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_offers",
        "label": "t:sections.mobile-stickybar.settings.show_offers.label",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_today_deal",
        "label": "t:sections.mobile-stickybar.settings.show_today_deal.label",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_wishlist",
        "label": "t:sections.mobile-stickybar.settings.show_wishlist.label",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_my_account",
        "label": "t:sections.mobile-stickybar.settings.show_my_account.label",
        "default": true
      }
    ]
  }
{% endschema %} ⬤